a {
    color : rgb(25, 87, 25);
    text-decoration: none;
}

body {
    background-color: #2f0d8c;
}

.float_left {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.float_right {
    float: right;
    width: 45%;
    margin-left: 5%;
}

.justify_right {
    text-align: right;
    align-self: right;
    align-content: right;
}

.justify_left {
    text-align: left;
    align-self: left;
    align-content: left;
}

.navBar {
    background-color: #a3a3a3;
    padding: 10px 5% 10px 5%;
    width: 80%;
    max-width: 2160px;
    margin: 0 auto;
    /*box-shadow: 0px 3px 7px #333;
    -moz-box-shadow: 0px 3px 7px #333;
    -webkit-box-shadow: 0px 3px 7px #333;
    position: relative;*/
    transition: background-color 0.3s ease, position 0.3s ease, max-width 0.3s ease, width 0.3s ease;
}

.navBarScrolled {
    background-color: #333;
    padding: 10px 5% 10px 5%;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    transition: background-color 0.3s ease, position 0.3s ease, max-width 0.3s ease, width 0.3s ease;
}

.navBarScrolled a {
    color: white;
    text-emphasis: 10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, position 0.3s ease, max-width 0.3s ease, width 0.3s ease;
}

.headerContainer {
    background-image: linear-gradient(to bottom, #a3a3a3, #ffffff);
    padding: 10px 5% 10px 5%;
    position: relative;
    width: 80%;
    max-width: 2160px;
    margin: 0 auto;
    /*box-shadow: 0px 3px 7px #333;
    -moz-box-shadow: 0px 3px 7px #333;
    -webkit-box-shadow: 0px 3px 7px #333;*/
}

.bodyContainer {
    background-color: white;
    position: relative;
    align-content: center;
    margin: 0 auto;
    padding: 5px 5% 10px 5%;
    width: 80%;
    max-width: 2160px;
    min-height: 250px;
    /*box-shadow: 0px 3px 7px #333;
    -moz-box-shadow: 0px 3px 7px #333;
    -webkit-box-shadow: 0px 3px 7px #333;*/
    display: flex;
    gap: 20px;
}

.footerContainer {
    background-color: white;
    position: relative;
    margin: 0 auto;
    padding: 10px 5% 10px 5%;
    width: 80%;
    max-width: 2160px;
    min-height: 250px;
    display: flex;
    gap: 20px;
}